# Prerequisites
*.d

# Python environment and caches
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Jupyter Notebooks
.notebooks/

# Data and Models
data/raw/*
data/processed/*
data/evaluation/*
data/gallery/*
data/test/*
datasets/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/evaluation/.gitkeep
!data/gallery/.gitkeep

models/*
!models/.gitkeep

# IDEs and OS files
.vscode/
.idea/
.DS_Store
*.swp
